      <% @profiles.each do |profile| %>
  <div class="col-sm-4">
    <div class="card-identity" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path(profile.photo.key, width: 300, height: 300, crop: 'fill', gravity: :face, radius: 16, background:"#0000ffff") %>)">
      <div class="card-identity-content">
        <%= link_to '', profile_path(profile), class: 'card-link' %>
        <h2 class="card-name"><%= profile.user.full_name.titleize %></h2>
        <h3 class="card-village"><%= profile.village %></h3>
        <div class="card-identity-button">
          <%= render 'index_logic', profile: profile %>
        </div>
      </div>
    </div>
  </div>
<% end %>
