<p><i class="fas fa-map-pin"></i>&nbsp;&nbsp;<%= profile.village %></p>
        <p><i class="fas fa-cash-register"></i>&nbsp;&nbsp;<%= profile.business_type.titleize %></p>
        <p><i class="fas fa-phone"></i>&nbsp;&nbsp;<%= profile.phone_number %></p>
        <p><i class="fas fa-birthday-cake"></i>&nbsp;&nbsp;<%= profile.birthday.strftime("%B %e, %Y") %></p>
        <p><i class="fas fa-file-signature"></i>&nbsp;&nbsp;<%= profile.join_date.strftime("%B %e, %Y") %></p>
